<!-- CTA -->
	<section id="cta">

		<header>
			<h2>Ready to do build your <strong>dream</strong>?</h2>
			<p>Call us or come out to our showroom in Springfield, Missouri.</p>
		</header>
		<footer>
			<ul class="buttons">
				<li><a href="contact.html" class="button special">Contact Us</a></li>
				<li><a href="contact.html" class="button">Find Us</a></li>
			</ul>
		</footer>

	</section>

<footer id="footer">

  <ul class="icons">
    <li><a href="https://www.facebook.com/Missouritile/" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
  </ul>

  <ul class="copyright">
    <li>&copy; 2016 Missouri Tile</li> <li>Designed by <a href="http://zachdyerdesign.com">Zach Dyer Design</a></li>
  </ul>

</footer>
