<header class="special container">
  <span class="icon fa-square-o"></span>
  <h2><img src="images/logoColorStates.png" alt="Missouri Tile logo banner with missouri state." style="width: 20%;">
  <br />
  is located in the heart of the ozarks
  <br />
  and is family owned and operated since 1992.
  </h2>
  <p><strong>Missouri Tile</strong> is a family owned and operated tile store owned by Chester and Scott Shortt.
  <br />
  Chester and Scott take great pride in their company and their <strong>friendly, knowledgeable, experienced staff</strong>.
  <br />
  Our sales staff will gladly help you thru a <strong>large selection</strong> of tiles that will accommodate any budget. </p>
</header>
