<nav id="nav">
  <ul>
    <li {% if page.url == '/' %}class='current'{% endif %}><a href="index.html">Welcome</a></li>
    <li {% if page.url == '/showroom.html' %}class='current'{% endif %}><a href="showroom.html">Showroom</a></li>
    <li {% if page.url == '/video.html' %}class='current'{% endif %}><a href="video.html">Video</a></li>
    <li {% if page.url == '/products.html' %}class='current'{% endif %}><a href="products.html">Products</a></li>
    <li class="submenu">
      <a href="gallery.html">Galleries</a>
      <ul>
        <li><a href="kitchens.html">Kitchens</a></li>
        <li><a href="bathrooms.html">Bathrooms</a></li>
        <li><a href="outdoors.html">Outdoors</a></li>
        <li><a href="commercial.html">Commercial</a></li>
        <li><a href="backsplash.html">Backsplash</a></li>
        <li><a href="wetbar.html">Wetbar</a></li>
        <li><a href="fireplace.html">Fireplace</a></li>
        <!--<li class="submenu">
          <a href="#">Submenu</a>
          <ul>
            <li><a href="#">Dolore Sed</a></li>
            <li><a href="#">Consequat</a></li>
            <li><a href="#">Lorem Magna</a></li>
            <li><a href="#">Sed Magna</a></li>
            <li><a href="#">Ipsum Nisl</a></li>
          </ul>
        </li>-->
      </ul>
    </li>
    <li><a href="contact.html" class="button special">Contact</a></li>
  </ul>
</nav>
