<nav id="nav">
  <ul>
    <li class="current"><a href="index.html">Welcome</a></li>
    <li class="submenu">
      <a href="#">Galleries</a>
      <ul>
        <li><a href="kitchens.html">Kitchens</a></li>
        <li><a href="no-sidebar.html">Bathrooms</a></li>
        <li><a href="no-sidebar.html">Outdoors</a></li>
        <li><a href="no-sidebar.html">Commercial</a></li>
        <li><a href="no-sidebar.html">Backsplash</a></li>
        <li><a href="no-sidebar.html">Wetbar</a></li>
        <li><a href="no-sidebar.html">Fireplace</a></li>
        <!--<li class="submenu">
          <a href="#">Submenu</a>
          <ul>
            <li><a href="#">Dolore Sed</a></li>
            <li><a href="#">Consequat</a></li>
            <li><a href="#">Lorem Magna</a></li>
            <li><a href="#">Sed Magna</a></li>
            <li><a href="#">Ipsum Nisl</a></li>
          </ul>
        </li>-->
      </ul>
    </li>
    <li><a href="#" class="button special">Contact</a></li>
  </ul>
</nav>
