<!-- Mobile call button -->
<a href="tel:+1 417 889 8453" class="button btn btn-primary call"><span class="icon fa-phone"></span></a>
<a href="https://www.google.com/maps?ll=37.159197,-93.33338&z=16&t=m&hl=en-US&gl=US&mapclient=embed&cid=3532236844995629200" class="button btn btn-primary map" target="_blank"><span class="icon fa-map-marker"></span></a>

<nav id="nav">
  <ul>
    {% for menu in site.menu.main %}
    <li class='{% if page.url == menu.permalink %}current{% endif %}{% if menu.submenu %} submenu{% endif %}{% if menu.class %} {{ menu.class }}{% endif %}'>
      <a href="{{ menu.permalink }}">{{ menu.title }}</a>
    {% if menu.submenu %}
      <ul>
      {% for submenu in menu.submenu %}
        <li><a href="{{ submenu.permalink }}">{{ submenu.title }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
