<!DOCTYPE HTML>
<html>
	<head>
		{% include head.html %}
	</head>
	<body>
		<div id="page-wrapper">

			{% include header.html %}

			<!-- Main -->
			<article id="main" class="container">
				<header class="special container">
				    <span class="icon fa-{{ page.icon }}"></span>
				    <h2>{{ page.title }}</h2>
				    <p>{{ page.desc }}</p>
				</header>

				{{ content }}
				
			</article>

			<!-- Footer -->
			{% include footer.html %}

		</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/jquery.scrollgress.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</html>
