<!DOCTYPE HTML>
<html>
	<head>
		{% include head.html %}
	</head>
	<body class="{% if page.url == "/" %}index{% endif %}">
		<div id="page-wrapper">

			{% include header.html %}

			<!-- Main -->
				<article id="main">

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>{{ page.title }}</h2>
								<p>{{ content }}</p>
							</header>

							{% for product in page.products %}
							{% cycle '<div class="row">', '', '', '' %}
								<div class="3u 12u(narrower)">
									<section>
										<a href="{{ product.url }}" class="image featured" target="_blank"><img src="{{ site.github.url }}/images/products/{{ product.img }}" alt="{{ product.title }}" class="img-thumbnail"/></a>
										<header>
											<h3>{{ product.brand }}</h3>
										</header>
										<p>{{ product.product }}</p>
									</section>
								</div>
							{% cycle '', '', '', '</div>' %}
							{% endfor %}

						</section>

				</article>

			<!-- Footer -->
			{% include footer.html %}

		</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/jquery.scrollgress.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</html>
